# DTH shell configuration
# Build settings
auto_build=disabled
auto_run=disabled
auto_clean=enabled
img_num=7
menu_theme=arrow

# Flash read settings
com_port=COM6
available_com_ports=COM6
chip=auto
baud_rate=460800
start_address=0x190000
size=0xE70000
output_file=project/images/storage_dump.bin
